<!DOCTYPE html>
<html>
<head>
  <title>Newspeak</title>
  <%= stylesheet_link_tag    "newspeak/application", media: "all" %>
  <%= javascript_include_tag "newspeak/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
